/*
 * written by andrewt@cse.unsw.edu.au September 2015
 * as a starting point for COMP2041/9041 assignment 2
 * http://cgi.cse.unsw.edu.au/~cs2041/assignments/bitter/
 *
 * Change (or replace) the CSS below to create you own look-and-feel
 *
 * You will probably want to add  CSS to this file too
 */

html, body {
    margin: 0;
    padding: 0;
}

.bitter_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

.bitter_user_details {
    background-color: #ABCDEF;
    color: #204142;
    white-space: pre;
    border:thin solid #204142;
    
    border-radius: 1em;
    padding-left: 0.42em;
}

.bitter_button {
    background-color: #FEDBCA;
    border:thin solid #904142;
    border-radius: 0.42em;
    color: #904142;
}

.login_details {
	text-align:center;
	margin:100px auto;
	width:640px;
	height:300px;
	background-color:rgb(240, 240, 240);
}

h2 {
	font-family: "Lucida Console", Monaco, monospace;
	color: #7F00FF;
	margin-top:5px;
	font-size:200%;
}



h1 {
	font-family: "Lucida Console", Monaco, monospace; 
	margin-left:300px;
	margin-top:-15px;
	color:WHITE;
	font-size:250%;
}


.heading-zero{
	height:20px;
	background-color:black;
	color:white;
	text-align:right;
	font-family: "Times New Roman", Georgia, Serif;	
	font-size:110%;
}

.heading-one {
	height: 30px;
	background-color:WHITE;

}



.heading-two {
	height: 80px;
	background-color:#91219E;
}




.left-container{
	width:15%;
	float:left;
	height:100%;

}

.right-container {
	width:15%;
	height:100%;
	float:right;
    text-align:center;
}

.mainContainer {
	text-align:center;
	width:70%;
	display:inline-block;
	background-color:white;
	height:100%;
	border-left: 2px solid #BABABA;
	border-right: 2px solid #BABABA;

}

.menuBar {
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
    border-radius: 6px;
}
.menuBar ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.menuBar li {
	display: inline;
	padding: 16px;
}


